:root {
  --color-primary: #ffffff;
  --color-primary-dark: #e3e3e3;
  --color-secondary: #ec4899;

  --color-bg: #f9fafb;
  --color-bg-dark: #000000;
  --color-surface: #ffffff;
  --color-text: #060606;
  --color-text-light: #383737;
  --color-border: #e5e7eb;

  --space-xs: 4px;
  --space-sm: 8px;
  --space-md: 16px;
  --space-lg: 24px;
  --space-xl: 32px;

  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 16px;
  --radius-xl: 32px;
  --radius-xxl: 40px;

  --shadow-sm: 0 1px 3px rgba(0, 0, 0, 0.08);
  --shadow-md: 0 4px 6px rgba(0, 0, 0, 0.1);
}
