.sortDropdown {
  padding: 10px 12px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #bbb;
  margin-bottom: 20px;
}

.catalogPage {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 32px;
}

.pageTitle {
  margin: 0;
  padding: 0;
}

.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contentLayout {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.catalogContainer {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  margin-bottom: 40px;
}

.toastTest {
  display: flex;
  gap: 8px;
  margin-top: 40px;
}
