.iconBtn {
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
}

.close {
  color: var(--color-text-light);
}
.close:hover {
  color: var(--color-text);
  transform: scale(1.1);
}

.delete {
  position: relative;
  color: var(--color-text-light);
  opacity: 1;
  top: auto;
  right: auto;
}

[class*="imageThumb"] .delete {
  position: absolute;
  top: 4px;
  right: 0px;
  opacity: 0;
}

[class*="imageThumb"]:hover .delete {
  opacity: 1;
}

.delete:hover {
  background-color: transparent;
  color: var(--color-text);
  transform: scale(1.1);
}
